/* login */
#member > .login{
    width: 900px;
    height: auto;
    margin: 0 auto;
}
#member > .login > nav{
    border-bottom: 2px solid #0e6ad3;
}
#member > .login > nav > h1{
    font-size: 24px;
    margin-bottom: 6px;
}
#member > div > nav > p{
    float: right;
    font-size: 11px;
    margin-top: -20px;
    color: #888;
}
#member > div > nav > p >strong{font-weight: bold;}

#member > .login > form{
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-bottom: 1px solid #b3b3b3;
    padding-top: 60px;
    padding-left: 10px;
    box-sizing: border-box;
}
#member > div > form > table{
    float: left;
    border-collapse: collapse;
    margin-right: 6px;
}
#member > div > form > table tr > td{padding: 2px;}
#member > div > form > table tr > td:nth-child(1){
    font-size: 14px;
    font-weight: bold;
}
#member > div > form > table input{
    width: 200px;
    height: 31px;
    padding: 0 13px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    color: #0075b4;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 0 10px #eee;
}
#member > .login > form > input[type="submit"]{
    float: left;
    width: 97px;
    height: 71px;
    background-image: url(../img/member_btn_login.gif);
    font-size: 0;
    border: none;
}
#member > .login > form > span{
    clear: left;
    display: block;
    margin-top: 100px;
    margin-left: 86px;
}
#member > .login > form > span > label{
    left: 64px;
    bottom: -20px;
    color: #676767;
    font-weight: bold;
    margin-right: 2px;
}
#member > .login > form > span > label > input[type="checkbox"]{margin-right: 4px;}
#member > .login > form > span a{
    display: inline-block;
    height: 13px;
    margin: 0;
    padding: 0 6px;
    color: #676767;
    border-left: 1px solid #999;
    font-weight: bold;
}

#member > .login > form > .banner{
    position: absolute;
    right: 0;
    top: 16px;
}

#member > .login > img[alt="banner"]{
    display: block;
    margin: 36px auto;
}

/* join */
#member > .join{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}
#member > .join > .welcome{
    display: block;
    margin: 10px auto;
}

#member > .join> .type{
    width: 100%;
    height: 200px;
    margin: 60px auto;
}
#member > div > div{
    padding: 30px;
    text-align: center;
}
#member > .join > .type > div{
    width: 420px;
    height: 100%;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    overflow: hidden;
}
#member > .join .normal{
    float: left;
}
#member > .join > .type > div > .txt{
    padding: 40px;
}
#member > .join > .type > div > .txt > a{
    float: right;
}
#member > .join .seller{
    float: right;
}

#member > .join .banner{
    display: block;
    margin-bottom: 20px;
}

/* signup(terms of use) */
#member > .signup{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}
#member > .signup > nav{
    border-bottom: 2px solid #0e6ad3;
}
#member > .signup > nav > h1{
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .signup h3{
    font-size: 14px;
    margin-top: 26px;
    margin-bottom: 6px;
}
.essential{
    color: #ef3f43;
    margin-right: 0.3px;
}
#member > .signup textarea{
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    border: 1px solid #bababa;
    box-sizing: border-box;
    resize: none;
}
#member > .signup label{
    float: right;
    font-size: 14px;
}
#member > .signup input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-right: 1.5px;
    vertical-align: bottom;
}
.agree{
    display: block;
    background-color: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
}
.optional{
    color: #01c1d4;
    margin-right: 0.3px;
}

/* register(일반 회원) */
#member > .register{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}
#member > .register > nav{border-bottom: 2px solid #0e6ad3;}
#member > .register > nav > h1{
    font-size: 24px;
    margin-bottom: 6px;
}

#member > .register table{
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #b6bdc7;
    border-collapse: collapse;
    border-spacing: 0;
}
#member > .register table > caption{
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 500;
}
#member > .register table th{
    width: 200px;
    padding: 20px 20px;
    vertical-align: top;
    background: #f4f6f9;
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
}
#member > .register table td{
    position: relative;
    vertical-align: middle;
    padding: 10px 20px;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
}
#member > .register table input{
    padding: 0 8px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
    vertical-align: middle;
}
#member > .register table label{
    display: inline-block;
    width: 60px;
    font-size: 17px;
}
#member > .register table .addr th{
    padding-left: 30px;
}
#member > .register table .addr input{
    margin-top: 6px;
}

#member > .register form input[type="submit"]{
    display: block;
    background-color: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: pointer;
}
#member > .register table .essential{
    color: #ef3f43;
    vertical-align: middle;
}

#btnEmail{
	border: none;
	background: none;
}

/* register(판매 회원) */

/* findId */
.findId{
    width: 500px;
    height: auto;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
#member_gnb{
    width: 100%;
    height: auto;
    display: inline-block;
}
#member_gnb > li{
    width: 100%;
    min-height: 66px;
    border-top: 1px solid #c0c0c0;
    box-sizing: border-box;
}
#member_gnb > li:nth-of-type(1){
    /* border-top: 0; */
}
#member_gnb > li > a{
    display: block;
    width: 100%;
    height: 66px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    line-height: 66px;
    text-indent: 10px;
}
#member_gnb > li > a > i{
    margin-right: 5px;
    font-size: 20px;
}
#member_gnb div{
    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 160px;
}
#member_gnb input{
    width: 200px;
    padding: 6px;
    border: 1px solid #959595;
    font-size: 13px;
    background-color: #fefefe;
    color: #333;
    vertical-align: middle;
    box-sizing: border-box;
}
#member_gnb input[type=button]{
    display: block;
    border: 1px solid #0e6ad3;
    background-color: #0e6ad3;
    color: #fff;
    font-weight: bolder;
    margin-top: 10px;
    height: 45px;
}
#member_gnb input[type=submit]{
    display: block;
    border: 1px solid #0e6ad3;
    background-color: #0e6ad3;
    color: #fff;
    font-weight: bolder;
    margin-top: 10px;
    height: 45px;
}
.findTabContainer{
	padding: 0 !important;
	height: 60px;
}
.findTab{
	position: relative;
    float: left;
    width: 50%;
    height: 60px;
    text-align: center;

}
.findTab > a{
	display: block;
	position: absolute;
	top: 18px;
	left: 80px;
	font-size: 18px;
    background-color: #fefefe;
    color: #333;
}
.findTab.on{
	border-bottom: 1px solid #0e6ad3;
	color: #0e6ad3;
}
.findTab.off{
	border-bottom: 0;
	color: black;
}
.findTab > a.on{
	display: block;
	position: absolute;
	top: 18px;
	left: 80px;
	font-size: 18px;
    background-color: #fefefe;
    color: #0e6ad3;
}	
.findTab > a.off{
	display: block;
	position: absolute;
	top: 18px;
	left: 80px;
	font-size: 18px;
    background-color: #fefefe;
    color: #333;
}

/* findPw */
.findPwDiv{
	display: block !important;
	position: relative;
	top: 35px;	
}	
.findPwA{
	position: relative;
	top: 13px;
}